<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Map Test</title>

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="../static/css/leaflet.css" />

    <!-- Leaflet JS -->
    <script src="../static/asset/mapjs/leaflet.js" defer></script>
    <script type="module" src="../static/asset/mapjs/mapLoad.js"></script>

    
    <!--  own CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
    <div id="map"></div>
    <div id="gallery"  class="map-overlay">
    <p id="des-image"></p>
    </div>
    </div>
    <!-- <div>
      <button id="prevBtn" type="button">Previous</button>
      <button id="nextBtn" type="button">Next</button>
    </div> -->
    <script type="module" src="../static/asset/js/gallerry.js"></script>

    <script>
      
    </script>
    
  </body>
</html>


<!-- organize and makin structure for program -->