<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!-- Triplist CSS -->
    <link rel="stylesheet" href="../static/css/triplist.css" />

    <!-- Triplist JS -->
    <script type="module" src="{{ url_for('static', filename='asset/js/triplist.js') }}"></script>

    <title>Index Page</title>

    <!-- Own CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <h1>Tripin control</h1>

    <div class="container">
      <!-- Debugging:cl test JS link -->

      <div class="Trips">
        <h2 style ="text-align: center;">Current Trip</h2>  
        <div id="currentTrip"></div>
        <h2 style ="text-align: center;">Previous Trips</h2>
        <div id="pastTrips"></div>
      </div>
    </div>
  </body>
</html>
